<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>生物图谱(某物种)</title>
    <!-- Base href -->
    <base th:href="@{/}"/>
    <script src="jquery/jquery.js"></script>
    <!-- echarts-3.1.10 -->
    <script src="plugins/echarts/echarts.min.js"></script>
    <!-- Layer 3.0.1 -->
    <script th:src="@{/plugins/layer/layer.js}" src="plugins/layer/laye.js"></script>
</head>

<body>
    <div id="main" style="width:100%;height:800px"></div>
    <input type="hidden" th:value="${species}" id="species" name="species" readonly="readonly"></input>
    <input type="hidden" th:value="${depth}" id="depth" name="depth" readonly="readonly"></input>
<!-- Layer 3.0.1 -->
<script th:src="@{/plugins/layer/layer.js}" src="plugins/layer/laye.js"></script>
<script type="text/javascript">
    function SeeInfo(infoId) {
        var width = $(window).width();
        var layer_width = "30%";
        var layer_height = "30%";
        if (width > 760) {
            layer_width = "300px";
            layer_height = "500px";
        }
        layer.open({
            offset: 'lt',
            anim: 4,
            type : 2,
            title : '<label class="form-label">物种信息</label>',
            fixed : false, // 不固定
            area : [ layer_width, layer_height ],
            content : '/info/' + infoId
        });
    };
</script>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var categories = [{name:"分类单元"},{name:"亚种"},{name:"描述"},{name:"别名"}];
    option = {
        // 图的标题
        title: {
            text: '生物图谱(某物种)'
        },
        // 提示框的配置
        tooltip: {
            formatter: function (x) {
                return x.data.des;
            }
        },
        // 工具箱
        toolbox: {
            // 显示工具箱
            show: true,
            feature: {
                mark: {
                    show: true
                },
                // 还原
                restore: {
                    show: true
                },
                // 保存为图片
                saveAsImage: {
                    show: true
                }
            }
        },
        legend: [{
            // selectedMode: 'single',
            data: categories.map(function (a) {
                return a.name;
            })
        }],
        series: [{
            type: 'graph', // 类型:关系图
            layout: 'force', //图的布局，类型为力导图
            symbolSize: 40, // 调整节点的大小
            roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [2, 10],
            edgeLabel: {
                normal: {
                    textStyle: {
                        fontSize: 20
                    }
                }
            },
            force: {
                repulsion: 2500,
                edgeLength: [10, 50]
            },
            draggable: true,
            lineStyle: {
                normal: {
                    width: 2,
                    color: '#4b565b',
                }
            },
            edgeLabel: {
                normal: {
                    show: true,
                    formatter: function (x) {
                        return x.data.name;
                    }
                }
            },
            label: {
                normal: {
                    show: true,
                    textStyle: {}
                }
            },

            // 数据
            data: null,
            links: null,
            categories: categories,
        }]
    };

    $.ajax({
        url:'/data/species',
        type:'POST',
        data:{
            'species': $('#species').val(),
            'depth': $('#depth').val()
        },
        dataType:'json',
        success:function (data) {
            option.series[0].nodes=data.nodes;
            option.series[0].links=data.links;
            myChart.setOption(option);
        },
        error: function (errorMsg) {
            alert("数据获取失败!");
        }
    });

    myChart.on('dblclick', function (param){
        console.log('param---->', param);  // 打印出param, 可以看到里边有很多参数可以使用
        //获取节点点击的数组序号
        var arrayIndex = param.dataIndex;
        console.log('arrayIndex---->', arrayIndex);
        console.log('name---->', param.name);
        if (param.dataType == 'node') {
            SeeInfo(param.name);
        }
    });
</script>
</body>
</html>