<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>生物图谱</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <th:block th:replace="pageFrame/basicsCss :: copy"/>
</head>

<body>
    <div id="main" style="width:100%;height:900px"></div>

    <!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
    <th:block th:replace="pageFrame/basicsJs :: copy"/>
    <!-- echarts-3.1.10 -->
    <script src="plugins/echarts/echarts.min.js"></script>
    <script type="text/javascript">
        function SeeInfo(infoId) {
            var width = $(window).width();
            var layer_width = "30%";
            var layer_height = "30%";
            if (width > 760) {
                layer_width = "300px";
                layer_height = "500px";
            }
            layer.open({
                offset: 'lt',
                anim: 4,
                type : 2,
                title : '<label class="form-label">物种信息</label>',
                fixed : false, // 不固定
                area : [ layer_width, layer_height ],
                content : '/info/' + infoId
            });
        };

        function SearchSpecies() {
            var width = $(window).width();
            var layer_width = "30%";
            var layer_height = "30%";
            if (width > 760) {
                layer_width = "300px";
                layer_height = "280px";
            }
            layer.open({
                offset: 'rt',
                anim: 1,
                type : 2,
                title : '<label class="form-label">物种搜索</label>',
                fixed : false, // 不固定
                area : [ layer_width, layer_height ],
                content : '/search'
            });
        };
    </script>
    <script th:src="@{/js/forceOriented.js}"></script>
</body>
</html>